body, #preso, .slide {
  background-color: black;
  color: #9999ee;
  border: none;
  margin: none;
}

blockquote {
  color: white;
}

.larger {
  font-size: 2em;
}

.highlight {
  color: yellow;
}

.commandline code.command {
  color: green;
}

.goodlist {
  color: green;
  margin-left:  5em;
  font-size: 1.5em;
  line-height: 2em;
}
